/*crud.css*/

html{
    overflow: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    width: 100%;
}
.div1, .div2 {
    background-color: white;
}
.alert-heading {
    font-size: 20px;
}

.email_invalid_msg, .empty_input_msg, .empty_search_input_msg{
    color: red;
    font-size: 10px;
}
.search-box{
    margin-top: 120px;
}
